@import "tailwindcss";
/* @source "../../../"; */

@theme {
  /* 400px */
  --breakpoint-2xs: 25rem;
  /* 512px */
  --breakpoint-xs: 32rem;
  --color-background-50: #fbfaf3;
  --color-background-100: #f3ebe3;
  --color-pink-100: #f1e1e2;
  --color-pink-200: #e5bbbe;
  --color-pink-300: #c17d93;
  --color-pink-400: #8c3450;
  --color-green-100: #e0e5dd;
  --color-green-200: #bdcaba;
  --color-green-300: #5d6e5f;
  --color-green-400: #374a39;
  --animate-pulse-custom: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.event-card a {
  color: var(--color-pink-400);
}

.event-card a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

/* React DayPicker calendar */
.rdp-root {
  --rdp-accent-color: var(--color-pink-400);
  --rdp-accent-background-color: var(--color-background-50);
  --rdp-selected-border: none;
  --rdp-outside-opacity: 0.25;
  --rdp-disabled-opacity: 1;
}

.upcoming-events-class {
  background-color: var(--color-green-300);
  color: white;
  border-radius: 50%;
}

.past-events-class {
  background-color: var(--color-pink-300);
  color: white;
  border-radius: 50%;
}

.event-today-class {
  color: white !important;
}
